// *                    Recipies
@mixin flexVH {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexV {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexH {
  display: flex;
  justify-content: center;
  align-items: center;
}
